#banner
{
	margin-top:49px;
	position: relative;
}

#banner img
{
	width: 100%;
	height: 100%;
}

#banner .contenedor
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	color: #fff;
}

#banner h2
{
	margin-top: 20px;
	font-size: 20px;
	margin-bottom: 5px;
	margin-left: 15px;
	color: #000;
	font-family: 'Anton', sans-serif;
	font-weight: lighter;
}
 #banner .a-pregunta
 {
	display: block;
	margin-left: 15px;
	font-size: 17px;
	width: 180px;
	margin-top: 10px;
	color: #fff;
	font-family: 'Zilla Slab', serif;
	padding:10px;
	background: #000;
	border-radius: 0.5em;
 }
 #banner a:hover
 {
 	color: #fff;
 	transition: 0.3s;
 	background:rgba(110,20,180);
 }

 #banner p
 {
 	font-size: 15px;
 	font-family: 'Zilla Slab', serif;
 	text-shadow: 1px 1px 0 #000;
 	margin-left: 15px;
 }

 #sesion h3
 {
 	font-family: 'Anton', sans-serif;
	font-weight: lighter;
	margin-bottom: 10px;
 }

 #sesion div
 {
 	display: flex;
 	justify-content: space-evenly;

 }

 #sesion a
 {

   	
   	padding:15px 15px;
   	color: #000;
   	font-family: 'Zilla Slab', serif;
   	font-weight: bolder;
   	border:1px solid #111;
   	font-size: 20px;

 }

 #sesion a:hover
 {
 	background: rgba(130,15,120,0.7 );
 	transition: 0.3s;
 }

/*.icon-ayuda 
{
	background: #937 ;
	color: #fff;
	padding: 17px 20px;
	border-radius: 50%;
	font-size: 25px;
	position: fixed;
	top: 400px;
}
*/
 @media (min-width: 480px)
 {

 	#banner h2
 	{
 		font-size: 28px;
 		padding-right: 10%;
 	}

 	#banner p
 	{
 		font-size: 17px;
 		padding-right: 20%;
 	}

 	#banner .boton-preguntas
 	{
 		margin-top: 25px;
 	}
 }

 @media (min-width: 768px)
 {
 	#banner .contenedor
 	{
 		padding-left: 3%;
 	}
 	#banner h2
 	{
 		padding-right: 25%;
 		font-size: 35px;
 	}

 	#banner p
 	{
 		font-size: 18px;
 		padding-right: 35%;
 	}

 	#banner .boton-preguntas
 	{
 		margin-top: 25px;
 		font-size: 19px;
 		width: 200px;
 		text-align: center;
 	}
 	#banner 
 	{
 		height: 300px;
 		overflow: hidden;
 	}

 	#banner img
 	{
 		height: auto;
 		margin-top: -50px;
 	}
 }

 @media (min-width: 1024px)
 {
 	#banner h2
 	{
 		font-size: 38px;
 		padding-right: 35%;
 	}

 	#banner p
 	{
 		font-size: 20px;
 		padding-right: 60%;
 	}

 	#banner .boton-preguntas
 	{
 		font-size: 22px;
 		width: 221px;
 	}
 	#banner img
 	{
 		margin-top: -100px;
 	}
 }

  