
#benefactor-preg .contenedor
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	text-align: center;
}

#benefactor-preg article
{
	margin: 30px;
}

#benefactor-preg img
{
	width: 100%;
	height: 70%;
	max-width: 300px;
}

#benefactor-preg h5,h3
{
	text-align: center;
	font-family: 'Zilla Slab', serif;
}

#benefactor-preg h3
{
	font-family: 'Anton', sans-serif;
	font-weight: lighter;
}

#benefactor-preg h5
{
		font-size: 15px;
}

.icon
{
	width: 40px;
	height: 40px;
	display: inline-block;
	background-size: contain;
}
.num1
{
	background-image: url(https://cdn2.iconfinder.com/data/icons/business-and-finance-388/30/chat_communication_message_talk_chatting_conference-_45-512.png);
}

.num3
{
	background-image: url(https://cdn2.iconfinder.com/data/icons/finance-253/24/money-payment-finance-coin-credit-512.png);	
}

.num2
{
	background-image: url(https://cdn3.iconfinder.com/data/icons/charity-outline-1/60/048_-_Hold_Hands-512.png);
}
