footer
{
	background: #000
}
#call
{
	padding: 30px 30px 40px;
	text-align: center;
}
#call h3
{
	margin: 10px;
}
#call p
{
	margin:20px 30px 40px 20px;
	font-size: 20px;
	font-family: 'Zilla Slab', serif;
}

.boton-general 
{
	padding:8px 9px;
	background: #000;
	border-radius: 0.5em;
	color:#fff !important; 
	font-family: 'Zilla Slab', serif;
	transition: 0.4s;
}

#call a
{
	margin-top: 30px;
}

.boton-general:hover
{
	background:rgba(110,20,180) !important;
}

footer .contenedor
{
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}
footer img
{
	width: 140px;
	margin: auto;
}

.contenedor-img
{
	width: 220px;
	margin: 20px;
	text-align:center;
}
.copy
{
	font-size: 18px;
	padding: 10px;
	margin:auto;
	color: #fff;
}

.sociales
{
	display: table;
	width: 210px;
	height: 30px;
	font-size: 20px;


}

.sociales div
{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.sociales a
{
	color: #fff;
	text-decoration: none;
	padding: 0px 10px;
}

footer .contenedor div
{
	margin:0px 21px;

}

@media (min-width:800px)
{
	footer .contenedor
	{
		display: flex;
		justify-content:space-between;
	}
}