#contacto{
	background-color: rgba(143,215,236,0.4);
}
.flex-container
{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 20px 40px 0;
	padding: 0px 0px;
	box-shadow: 2px 2px 10px 0 #000;
	background-color: white;

}

.form
{
	min-width: 300px;
	flex:2;
	text-align: center;
	padding:30px;
	order:5;
}

.form-input
{
	width: 100%;
	padding: 7px;
	margin: 6px 0;
	border:none;
	border-bottom: 3px solid #937;
	color:rgb(0, 0, 0);
	min-width: 80px;
}

.form-input:focus
{
	background: linear-gradient(to bottom, transparent, hsl(329, 37%, 81%));
	border-bottom: 3px solid hsl(330, 29%, 47%);
	outline: none;
}

.form-img
{
	flex: 1;
	padding: 10px;
	display: flex;
	order:2;
}
.form-img img
{
	width: 100%;
	margin: auto;
	min-width: 190px;	
	max-width: 400px;
}

.form textarea
{
	min-height: 140px;
	resize: none;
}


.form input[type="submit"]
{
	color:rgb(255, 255, 255);
	background-color: #827;
	border-bottom: none;
	padding: 12px;
}

.form input[type="submit"]:hover
{
	background-color: #917;
	border-bottom: none;
	padding: 12px;
}
.contacto--title{
	background-color: rgb(172, 59, 162);
}

.title{
	margin: 60px 40px 0px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: lighter;
	color:rgb(255, 255, 255);
	font-size: 44px;
	text-transform: uppercase;
}

.subtitle{
	margin: 20px 40px 0;

	padding: 20px 0px;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: lighter;
	color:rgb(255, 255, 255);
	font-size: 22px;
}


 @media (min-width: 1100px)
 {
 	.flex-container
 	{
 		margin:30px 170px;
 	}
 	 .form
	{
		padding:60px 40px;

	}
	.title{
		text-align: left;
		margin: 70px 170px 0px;
	}
	.subtitle{
		text-align: left;
		margin: 10px 170px 0px;
	}
	.form-input
	{
		
	}
 	
 }