.galeria-grid
{
	display: grid;
	grid-template-columns: repeat(auto-fill ,minmax(250px,1fr));
	grid-gap: 60px;
	margin: 20px 80px;

}

.galeria-grid div
{
	width: 100%;
	height: 420px;
	object-fit: cover;
	border:1px solid #000;
	text-align: center;
}

.galeria-grid img
{
	width: 90%;
	height: 60%;
	object-fit: cover;
	padding: 10px;
}

.galeria-grid p
{
	padding: 15px 10px 0px 10px;
	font-size: 18px;
}